html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}

header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.771), rgba(0, 0, 0, 0.53));
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 60px 0 black;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 40px;
}

.logo {
    padding-top: 1%;
    width: 150px;
    height: 150px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: lightgray;
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.signup-btn {
    padding: 8px 15px;
    color: black;
    font-weight:bolder;
    background-color:#b6edd0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.signup-btn:hover {
    background-color:chartreuse;
}

.lang-switch {
    margin: 10px;
    opacity: 0.6;
}

.lang-switch a {
    color: white;
    text-decoration: none;
}

.lang-switch a:hover {
    opacity: 1;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signup-btn {
    padding: 8px 15px;
    background-color: #609d2f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.title_sec {
    background-color: #609d2f;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.welcome {
    background-image: url('images/pikaso_embed.png');
    background-size: cover;
    background-position: center;
    padding: 200px 0px;
    margin-top: -30px;
    color: white;
}

welcome .container {
    color: white;
    background-color:rgba(253, 204, 10, 0.097);
    border-radius: 100px;
    padding: 80px;
    width: 550px;
    margin-left: 5%;
   
}






.success-section {
    padding: 50px;
    margin-top: -90px;
    background-color: #ffffff;
    text-align: center;
}

.success-section h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.testimonial {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.testimonial h4 {
    margin-top: 10px;
}



.adoption-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px; /* Увеличенная ширина карточки */
    padding: 20px; /* Увеличенный отступ */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень для визуального разделения */
}

.card img {
    width: 100%;
    height: 200px; /* Фиксированная высота изображения */
    object-fit: cover; /* Кадрирование изображения */
    border-radius: 8px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 24px;
    margin: 10px 0;
}

.card p {
    font-size: 16px;
    margin: 5px 0;
}

.adopt-btn {
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.adopt-btn:hover {
    background-color: #218838;
}


footer {
    background-color: #f2ebe0;
    padding: 40px 20px;
    text-align: left;
  
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 12%;
    
}

.footer-section {
    
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.contact-info p,
.newsletter p,
.quick-links ul {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer_h3 {
    color: #333;
    margin-bottom: 15px;

}
.footer_p{
    color: #333;
    margin-bottom: 15px;
   
}
.newsletter input[type="email"] {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter button {
    background-color:darkolivegreen;
    color: #fff;
    border: none;
    margin-top: 13px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color:darkolivegreen;
}

.quick-links ul {
    list-style-type: none;
    padding: 0; /* Добавлено для устранения отступов */
}

.quick-links ul li {
    margin-bottom: 10px;
}

.quick-links ul li a {
    text-decoration: none;
    color:darkolivegreen;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}
