html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;

    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
}

header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.771), rgba(0, 0, 0, 0.53));
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 60px 0 black;
    justify-content: space-between;
    z-index: 1000;
    padding: 0 40px;
}

.logo {
    padding-top: 1%;
    width: 150px;
    height: 150px;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: lightgray;
}

.right-side {
    display: flex;
    align-items: center;
}

.right-side img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.signup-btn {
    padding: 8px 15px;
    color: black;
    font-weight: bolder;
    background-color: #b6edd0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.signup-btn:hover {
    background-color:chartreuse;
}

.lang-switch {
    margin: 10px;
    opacity: 0.6;
}

.lang-switch a {
    color: white;
    text-decoration: none;
}

.lang-switch a:hover {
    opacity: 1;
}
main {
    margin: 20px;
}

.about {
    background-image: url('images/book.webp');
    background-size: cover;
    padding: 160px 20px;
    color: white;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about p {
    font-size: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.about button {
    background-color: #b6edd0;
    color: black;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.about button:hover {
    background-color: chartreuse;
}

.section2 {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.section2 h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.section2 h3 {
    font-size: 24px;
    margin-bottom: 40px;
}

.features::after {
    content: "";
    display: table;
    clear: both;
}

.feature-item {
    float:left;
    width: 20%;
    padding: 50px;
    box-sizing:border-box;
    text-align: center;
    font-size: 20px ;
}

.about-section {
    display: flex;
    padding: 50px 20px;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: space-between;
}

.about-content {
    max-width: 600px;
    margin-left: 100px;
}

.about-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.about-image img {
    width: 600px;
    height: auto;
    margin-right: 100px;
}

.mentor-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 40px 0;
}

.mentor-card {
    width: 200px;
    text-align: center;
}

.mentor-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 40px;
}

.mentor-card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.mentor-card p {
    font-size: 16px;
    color: #666;
}

.feedbacks {
    background-color:#b6edd0;
    text-align: center;
    padding: 50px 20px;
}

.feedbacks h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.feedbacks p {
    font-size: 18px;
    color: #666;
}

.event-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-card h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 16px;
    color: #666;
}

.join {
    background-color: #f9f9f9;
    text-align: center;
    padding: 60px 20px;
}

.join h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.join p {
    font-size: 20px;
    margin-bottom: 30px;
}

.join form {
    display: inline-block;
}

.join input {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 250px;
}

.join button {
    background-color: darkolivegreen;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.join button:hover {
    background-color: chartreuse;
}
footer {
    background-color: #f2ebe0;
    padding: 40px 20px;
    text-align: left;
  
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 12%;
    
}

.footer-section {
    
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.contact-info p,
.newsletter p,
.quick-links ul {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer_h3 {
    color: #333;
    margin-bottom: 15px;

}
.footer_p{
    color: #333;
    margin-bottom: 15px;
   
}
.newsletter input[type="email"] {
    padding: 10px;
    width: 70%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.newsletter button {
    background-color:darkolivegreen;
    color: #fff;
    border: none;
    margin-top: 13px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter button:hover {
    background-color:darkolivegreen;
}

.quick-links ul {
    list-style-type: none;
    padding: 0; /* Добавлено для устранения отступов */
}

.quick-links ul li {
    margin-bottom: 10px;
}

.quick-links ul li a {
    text-decoration: none;
    color:darkolivegreen;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}
